# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Model Weights
models/
*.pth
*.pt
*.ckpt

# Dataset
Dataset/
dataset/

# Results (optional)
results/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Environment
.env
